<ng-container *ngIf="symptoms?.musculoskeletalCategories?.length > 0">
    <div class="card mb-5" *ngFor="let option of symptoms?.musculoskeletalCategories">
        <div class="card-body">
            <label for="exampleFormControlInput1" class="form-label">QUESTION {{option?.id}}</label>
            <h4>{{option?.q1text}}</h4>
            <div class="mb-3" *ngIf="option?.list?.length === 0">
                <div class="form-check form-check-inline" *ngFor="let item of yesNoList">
                    <input class="form-check-input" id="{{option?.q1}}" [value]='item.val' type="radio"
                        name="{{option?.q1}}" [(ngModel)]="option.q1val">
                    <label class="form-check-label" for="{{option?.q1}}">{{item.text}}</label>
                </div>
            </div>
            <div class="mb-3" *ngIf="option?.list?.length > 0">
                <div class="form-check form-check-inline" *ngFor="let list of option?.list; let i = index">
                    <input class="form-check-input" type="checkbox" id="list_{{i}}" [value]="list"
                        [(ngModel)]="list.checked">
                    <label class="form-check-label" for="list_{{i}}">{{list?.title}}</label>
                </div>
            </div>
            <div class="mb-3 w-50" *ngIf="(option?.q1val === 'Y') || option?.list?.length > 0">
                <label for="name" class="form-label">since when?</label>
                <select class="form-select" id="{{option?.q2}}" [(ngModel)]="option.q2val">
                    <option value="">Select a criteria</option>
                    <option *ngFor="let list of criteriaList" [value]="list">{{list}}</option>
                </select>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="symptoms?.skeletalCategories?.length > 0">
    <div class="card mb-5" *ngFor="let option of symptoms?.skeletalCategories">
        <div class="card-body">
            <label for="exampleFormControlInput1" class="form-label">QUESTION {{option?.id}}</label>
            <h4>{{option?.q1text}}</h4>
            <div class="mb-3">
                <div class="form-check form-check-inline" *ngFor="let item of yesNoList">
                    <input class="form-check-input" id="{{option?.q1}}" [value]='item.val' type="radio"
                        name="{{option?.q1}}" [(ngModel)]="option.q1val">
                    <label class="form-check-label" for="{{option?.q1}}">{{item.text}}</label>
                </div>
            </div>
            <div class="mb-3 w-50" *ngIf="(option?.q1val === 'Y')">
                <label for="{{option?.q2}}" class="form-label">{{option?.subText}}</label>
                <input type="number" class="form-control" [(ngModel)]="option.q2val" id="{{option?.q2}}">
            </div>
        </div>
    </div>
</ng-container>
<div class="row mt-5">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-outline-primary" (click)="back()">Back</button>
        <button type="button" class="btn btn-primary btn-lg custom-btn" (click)="submit()">SUBMIT & PROCEED</button>
    </div>
</div>