<div class="container my-5">
    <ul id="progressbar" class="text-center">
        <li [class]="isStep1" id="step1">
            <div class="d-none d-md-block"></div>
        </li>
        <li id="step2" [class]="isStep2">
            <div class="d-none d-md-block"></div>
        </li>
        <li [class]="isStep3" id="step3">
            <div class="d-none d-md-block"></div>
        </li>
    </ul>

    <ng-container *ngIf="isStep1 === 'active'">
        <app-basic-info (submitEvent)="submit($event)" [finalData]="finalData"></app-basic-info>
    </ng-container>
    <ng-container *ngIf="isStep2 === 'active'">
        <app-questions (submitEvent)="submit($event)" [finalData]="finalData"></app-questions>
    </ng-container>
    <ng-container *ngIf="isStep3 === 'active'">
        <div class="card mb-5">
            <div class="card-body">
                <h4>I have answered all questions to the best of my ability. </h4>
                <div class="mb-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                            value="option1">
                        <label class="form-check-label" for="inlineRadio1">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                            value="option2">
                        <label class="form-check-label" for="inlineRadio2">No</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="d-grid gap-2 col-4 mx-auto">
                <button type="button" class="btn btn-primary btn-lg custom-btn" (click)="submitData()">SUBMIT</button>
            </div>
        </div>
    </ng-container>
</div>