<nav class="navbar navbar-expand-lg navbar-dark bg-light static-top" style="background: #fff;">
  <div class="container">
    <a class="navbar-brand float-left" href="#">
      <img src="../assets/images/sanofi.png" alt="..." height="">
    </a>
    <a class="navbar-brand float-right" href="#">
      <img src="../assets/images/citadel.png" alt="..." height="">
    </a>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="row">
          <div class="col-6 mb-5"> 
            <h1>About</h1>
            <p>Pompe is a genetically inherited rare disorder with a frequency of 1 in 40-60,000 in the general population. There are two forms of Pompe disease: Infantile onset (IOPD) and Late onset (LOPD). IOPD can manifest in babies from birth upto 1 year. LOPD can manifest anytime from 1 year to 60 years. Pompe disease is caused due to mutation in a gene called GAA (alpha glucosidase).</p>
            <p>If parents are carriers of a mutation in the gene, the child has 25% chance of getting Pompe disease. The child has 50% chance of being a carrier of the mutation without manifesting any symptoms ever. Males and female carry equal risk. </p>  
            <p>Early intervention for Pompe can help in management of disease.</p>
            <h1>Objective</h1>
            <p>This survey is aimed at the early identification of potential individuals who are likely to have symptoms similar to Pompe. However, the symptoms being generic, merely having one or more of these symptoms is no indication that the individual may develop Pompe.</p>
            <button type="button" class="btn btn-primary btn-lg custom-btn">START</button>
            <button type="button" class="btn btn-primary btn-lg custom-btn">10 MINUTES</button>
          </div>
          <div class="col-6 text-right" style="text-align: right"> 
            <img src="../assets/images/home_image.png" alt="..." height="">
          </div>
      </div>
      <app-stepper></app-stepper>
    </div>
  </div>
</div>