<div class="container p-0">
    <div class="row">
        <div class="col">
            <div class="thank-you-top">
                <img src="assets/images/thank-you.png" class="image-overlay" alt="..." height="">
            </div>
            <div class="tank-you-section card ">
                <div class="card-body shadow thank-you-border pt-5 pl-3 pr-3 pb-3">
                    <p>
                        Thank you for participating in the survey. This survey is intended to identify the potential
                        prevalence of Pompe at the population level as well as to identify potential individuals at high
                        risk of Pompe. Please note that a positive response to one or more of these questions is not
                        indicative of Pompe. No diagnosis can be made on the basis of any questionnaire. Please note
                        that a confirmed diagnosis of Pompe requires a blood test and a genetic test. The main purpose
                        of this survey is to sensitize people to this rare disorder. Since LOPD is a slowly progressive
                        disorder, you can revisit the survey at a later time point or visit your doctor in the event of
                        observing some or more of these symptoms. Early diagnosis can help in early intervention and
                        thereby delay the onset of severe symptoms.
                    </p>
                    <div class="alert alert-primary thank-you-alert" role="alert">
                        <div class="d-flex d-flex align-items-center">
                            <img src="assets/images/notification.png" alt="..." height="">
                            <h5 class="text-left">Based on the answers you have provided and your current age, the risk
                                report will be emailed to you in the next 72 hours on the e-mail address provided by you. </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="thank-you-footer">
                <p>
                    Thank you for participating in this survey. Please share the survey with your family and friends and
                    sensitize them to participate. Kindly help us publicize the survey on social media using
                    #SociaHealthResponsibility, #PompeDiseaseSurvey, #PompeDisease, #RareDisease, #CPMLSurvey,
                    #HealthForAll, #UNSDG3.
                </p>
            </div>
        </div>
    </div>
</div>