/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap";
/* Importing Bootstrap SCSS file. */
body{
    padding-top: 120px;
}
.sonofi-btn {
    border-radius: 3rem !important;
    background-color: #673ab7 !important;
    font-size: 1rem !important;
    font-weight: 500 !important;
    padding: 15px 100px!important;
}
.sonofi-btn-secondary {
    border-radius: 3rem !important;
    background-color: #f8f5fe !important;
    font-size: 1rem !important;
    font-weight: 500 !important;
    padding: 15px 100px!important;
    color: #7a17e6
}

.sonofi-btn-secondary:hover {
    color: #7a17e6
}